/* Center full screen */
.auth-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--hover); */
}

/* Larger, centered box */
.auth-form {
    background-color: var(--grey);
    padding: 45px 50px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* Inputs */
.auth-input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    background-color: var(--light-grey);
    color: var(--white);
}

.auth-input:focus {
    outline: 2px solid var(--purple);
}

/* Button */
.auth-button {
    padding: 12px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.auth-button:hover {
    background-color: var(--hover);
}

/* Footer */
.auth-footer {
    text-align: center;
    margin-top: 10px;
}

.auth-footer a {
    color: var(--purple);
    text-decoration: none;
}

.auth-footer a:hover {
    text-decoration: underline;
}

/* Message area */
.auth-msg {
    height: 20px;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
