/* left side of header */

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 5px;
    height: 100%;
    justify-self: left;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.logo-image {
    display: inline;
    height: 60%;
    color: var(--purple);
}

.logo-text {
    display: inline;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--white);
}

/* right side of header */

.header-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    color: var(--grey);
}

.logout-button {
    /* display: none; */
    align-self: center;
    height: 1.5rem;
}

.leaderboard-button {
    align-self: center;
    height: 1.25rem;
}

.profile-button {
    align-self: center;
    height: 1.25rem;
}

.profile-button:hover,
.logout-button:hover,
.leaderboard-button:hover {
    cursor: pointer;
    color: var(--hover);
}

.profile-button:active,
.logout-button:active,
.leaderboard-button:active {
    opacity: 0.7;
}