.main-results {
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    justify-items: center;
    text-align: center;
}

/* top results */

.main-top {
    display: grid;
    align-items: center;
}

.main-num {
    font-size: 8rem;
    font-weight: bold;
    color: var(--purple);
}

.main-text {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

/* bottom results */

.main-bottom {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 50%;
}

.secondary-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.next-button {
    color: var(--grey);
    height: 1.5rem;
    transition: color 0.25s;
}

.next-button:hover {
    cursor: pointer;
    color: var(--hover);
}

.next-button:active {
    opacity: 0.7;
}

.secondary-num {
    font-size: 3rem;
    font-weight: bold;
    color: var(--purple);
}

.secondary-text {
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}