/* .typing-test {
    display: flex;
    flex-direction: column;
    min-height: 5000px;
} */


.typing-test {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 2.15rem;
    font-weight: 600;
    text-align: justify;
    max-width: 45em;
    margin-top: 15px;   
    margin-left: 3rem;
    margin-right: 3rem;
    min-height: 300px;
}