:root {
    --purple: #603ca8;
    --grey: #363a43;
    --hover: #2e3037;
    --white: #e4e4e4;
    --red: #db6c6c;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e1f22;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4em;
}

.page-grid {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    height: 90vh;
}

/* left side of header */

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 5px;
    height: 100%;
    justify-self: left;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.logo-image {
    display: inline;
    height: 60%;
    color: var(--purple);
}

.logo-text {
    display: inline;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--white);
}

/* right side of header */

.header-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    color: var(--grey);
}

.settings-button {
    align-self: center;
    height: 1.5rem;
}

.profile-button {
    align-self: center;
    height: 1.2rem;
}

.profile-button:hover,
.settings-button:hover {
    cursor: pointer;
    color: var(--hover);
}

.profile-button:active,
.settings-button:active {
    opacity: 0.7;
}

/* main content */

.main-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 2rem;
    color: var(--grey);
}

.typing-test {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: justify;
    max-width: 45em;
    margin-top: 15px;   
}

#letter {
    position: relative;
    z-index: 1;
}

.typing-cursor {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -2px;
    background-color: var(--purple);
    width: 0.2rem;
    height: 2.5rem;
    margin-right: 10px;
    animation: blinker 1.5s linear infinite;
}

/* cursor animation */
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.correct {
    color: var(--white);
}

.incorrect {
    color: var(--red);
}

.pending {
    color: var(--grey);
}

.reset-button {
    height: 1.5rem;
    transition: color 0.35s;
    transition: transform 0.35s;
}

.reset-button:hover {
    cursor: pointer;
    transform: rotate(25deg);
    color: var(--hover);
}

.reset-button:active {
    opacity: 0.7;
    transform: rotate(50deg);
}

/* left side of footer */

.footer-content {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}

.footer-left-side, .footer-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-weight: bold;
    height: 100%;
}

.footer-content svg{
    height: 1rem;
}

.contact-button,
.linkedin-button,
.github-button,
.themes-button {
    display: flex;
    align-content: center;
    gap: 5px;
    transition: color 0.15s;
}

.contact-button:hover,
.linkedin-button:hover,
.github-button:hover,
.themes-button:hover {
    cursor: pointer;
    color: var(--hover);
}

.contact-button:active,
.linkedin-button:active,
.github-button:active,
.themes-button:active {
    opacity: 0.7;
}