:root {
    --purple: #603ca8;
    --grey: #363a43;
    --hover: #2e3037;
    --white: #e4e4e4;
    --red: #db6c6c;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e1f22;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4em;
}

.page-grid {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    height: 90vh;
}

/* main content */

.main-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 2rem;
    color: var(--grey);
}

.typing-test {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: justify;
    max-width: 45em;
    margin-top: 15px;   
}

#letter {
    position: relative;
    z-index: 1;
}

.typing-cursor {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -2px;
    background-color: var(--purple);
    width: 0.2rem;
    height: 2.5rem;
    margin-right: 10px;
    animation: blinker 1.5s linear infinite;
}

/* cursor animation */
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.correct {
    color: var(--white);
}

.incorrect {
    color: var(--red);
}

.pending {
    color: var(--grey);
}

.reset-button {
    height: 1.5rem;
    transition: color 0.35s;
    transition: transform 0.35s;
}

.reset-button:hover {
    cursor: pointer;
    transform: rotate(25deg);
    color: var(--hover);
}

.reset-button:active {
    opacity: 0.7;
    transform: rotate(50deg);
}