* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 30% 2rem 70%;
    background-color: #1e1f22;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 90vh;
}

.header {
    
}

.logo-container {
    align-content: center;
}

.logo {
    display: flex;
    align-items: center;

    gap: 1%;
}

.logo-image {
    height: 4rem;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.interface {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

}

.reload-button {
    background-color: transparent;
    border: none;

    transition: transform 0.25s;
}

.reload-button:hover{
    cursor: pointer;
}

.reload-button:active {
    transform: rotate(90deg);
}

.reload-button-image {
    height: 1.5rem;
}

.wpm-count {
    font-size: 2.5rem;
    font-weight: bold;
    color: yellow;
}

.typing-test-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    height: 10rem;

    margin-top: 2%;
    font-size: 2.5em;

    color: #363a43;

    word-spacing: 0.045 rem;
    text-align: justify;
    letter-spacing: 0.05rem;
    /* line-height: 100%; */
}

[data-status="pausedCorrectLetter"],
[data-status="pausedIncorrectLetter"],
[data-status="pausedCorrectedLetter"],
[data-status="pausedIncorrectLetter"],
[data-status="pausedPendingIncorrectLetter"],
[data-status="pausedPendingText"]
 {
    filter: blur(5px);
}

.paused-test-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1000;

    color: white;
    font-size: 1.5rem;
    cursor: pointer;

}

.letter {
    position: relative;
    z-index: 1;
}

.typing-cursor {
    width: 0.2rem;
    height: 2.5rem;
    background-color: yellow;
    position: absolute;
    left: -2px;
    top: 0;
    margin-right: 10px;
    z-index: -1;

    /* https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3 */

    /* make it so this only happens at the start */
    animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

[data-status="pendingText"] {
    color: rgb(54, 58, 67);
}

[data-status="correctLetter"] {
    color: rgb(209, 209, 202);
}

[data-status="incorrectLetter"] {
    color: rgb(219, 108, 108);
}

[data-status="correctedLetter"] {
    color: rgb(209, 209, 202);
}

[data-status="pendingIncorrectLetter"] {
    color: rgb(54, 58, 67);
}